main {
    /* justify-content: space-between; */
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    padding: 15px;
    background-color: black;
}

section {
    margin-bottom: 50px;
}