<!DOCTYPE html>
<html lang="es">

<head>
    <!-- archivos favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- ... -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/CRUD.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="controller.js"></script>

    <!-- <script src="scripts/CRUD_Usuarios.js"></script>
    <script src="scripts/CRUD_Categorias.js"></script>
    <script src="scripts/CRUD_Videos.js"></script> -->
    <title>CRUD</title>
</head>

<body ng-app="Trabajo" , ng-controller="main_ctlr">
    <header class="bg-dark">
        <nav>
            <div class="navegacion">
                <img src="img/logo.png" class="logo">
                <a class="titulo-nav" href=""> VIDLIBRARY </a>
                <div class="right-panel">
                    <ul>
                        <button type="button" class="btn btn-light" ng-click="cerrarSesion()">Sign Out</button>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <!-- <li ng-controller="usuarios" class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-home" ng-click="getUsuarios()"
                        aria-current="page" href="#">User</a>
                </li>
                <li ng-controller="categorias" class="nav-item">
                    <a class="nav-link" ng-click="getCategorias()" data-bs-toggle="tab" data-bs-target="#categorias"
                        href="#">Categoría</a>
                </li>
                <li ng-controller="videos" class="nav-item">
                    <a class="nav-link" ng-click="getVideos()" data-bs-toggle="tab" data-bs-target="#videos"
                        href="#">Video</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-home" "
                        aria-current=" page" href="#">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#categorias" href="#">Categoría</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#videos" href="#">Video</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="nav-tabContent">

            <div role="main" id="nav-home" role="tabpanel" class="tab-pane fade show active" ng-controller="usuarios">
                <div class="card card-add-user ">
                    <div class="card-header">
                        <span>Añadir Usuario</span>
                        <i style="float: right; margin-top: 5px;" data-toggle="modal" data-target="#myModal2"
                            class="fa fa-plus add-user-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <form name="addUser" ng-submit="crearUsuario()" id="addUser-form">
                            <div class="group-form">
                                <div class="group-form-component">
                                    <label> Nombre </label>
                                    <input class="form-control" name="name" type="text" ng-model="user.nombre">
                                </div>
                                <div class="group-form-component">
                                    <label> Email </label>
                                    <input class="form-control" name="mail" type="email" ng-model="user.correo">
                                </div>
                                <div class="group-form-component">
                                    <label> Password</label>
                                    <input class="form-control" name="passwd" type="password" ng-model="user.password">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" style="float:right;" value="Add">
                            <input type="reset" class="btn btn-primary" style="float:right;" value="Clear"
                                ng-model="limpiar">
                        </form>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-header">
                        <span> Select </span>
                        <span class="uid-span-header"> UID </span>
                        <span> Nombre</span>
                        <span class="correo-span-header"> Correo </span>
                        <span> Opciones </span>
                    </div>
                    <div id="panel-body-user" ng-repeat="u in usuarios track by $index">
                        <div class="fila fila-transparent">
                            <div class="checkbox-container">
                                <input type="checkbox" name="checkbox" value="{{u.uid}}" id="{{u.uid}}">
                                <label for="{{u.uid}}" class="checkbox">
                                    <div class="checkbox__inner">
                                        <div class="green__ball"></div>
                                    </div>
                                </label>
                            </div>
                            <span class="uid-span"> {{ u.uid }}</span>
                            <span class="nombre-span"> {{ u.nombre }} </span>
                            <span class="correo-span"> {{ u.correo }}</span>
                            <span class="opciones-span" style="font-size: 1.25em;"> <i type="button" data-toggle="modal"
                                    data-target="#myModal" class="fa fa-pencil"></i>
                                <!-- //TODO: Poner modal de ver usuario, o eliminarlo directamente -->
                                <i type="button" data-toggle="modal" data-target="#myModal3" onclick="viewUser()"
                                    class="fa fa-eye view-icon"></i>
                                <i ng-click="borrarUsuario()" type="button" class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="boton-delete-all" onclick="deleteAllUsers()">Delete All
                    </button>
                    <div class="panel-footer">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div id="categorias" class="tab-pane fade" role="tabpanel" ng-controller="categorias">
                <div class="card card-add-user ">
                    <div class="card-header">
                        <span>Añadir Categoría</span>
                        <i style="float: right; margin-top: 5px;" data-toggle="modal" data-target="#myModal6"
                            class="fa fa-plus add-user-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <form method="POST" ng-submit="crearCategoria()" id="addCategory-form">
                            <div class="group-form">
                                <div class="group-form-component">
                                    <label> Nombre </label>
                                    <input class="form-control" name="name" type="text" ng-model="categoria.nombre">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" style="float:right;" value="Add">
                            <input type="reset" class="btn btn-primary" style="float:right;" value="Clear"
                                ng-model="limpiar">
                        </form>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-header">
                        <span> Select </span>
                        <span class="uid-span-header"> UID </span>
                        <span> Nombre </span>
                        <span> Opciones </span>
                    </div>
                    <div id="panel-body-categorias" ng-repeat="c in categorias track by $index">
                        <div class="fila fila-transparent">
                            <div class="checkbox-container">
                                <input type="checkbox" name="checkboxCategoria" value="{{c._id}}" id="{{c._id}}">
                                <label for="{{c._id}}" class="checkbox">
                                    <div class="checkbox__inner">
                                        <div class="green__ball"></div>
                                    </div>
                                </label>
                            </div>
                            <span class="uid-span"> {{c._id}} </span>
                            <span class="nombre-span"> {{c.nombre}} </span>
                            <span class="opciones-span" style="font-size: 1.25em;">
                                <i type="button" data-toggle="modal" data-target="#myModal4" class="fa fa-pencil">
                                </i>
                                <i type="button" data-toggle="modal" data-target="#myModal5"
                                    class="fa fa-eye view-icon">
                                </i>
                                <i ng-click="borrarCategoria()" type="button" class="fa fa-times">
                                </i>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="boton-delete-all-categorias"
                        onclick="deleteAllCategories()">Delete All </button>
                    <div class="panel-footer">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="paginationCategorias">
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

            <div id="videos" class="tab-pane fade" role="tabpanel" ng-controller="videos">
                <div class="card card-add-user ">
                    <div class="card-header">
                        <span>Añadir Video</span>
                        <i style="float: right; margin-top: 5px;" data-toggle="modal" data-target="#myModal7"
                            class="fa fa-plus add-user-icon" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <form ng-submit="crearVideo()" id="addVideo-form">
                            <div class="group-form">
                                <div class="group-form-component">
                                    <label> Nombre </label>
                                    <input class="form-control" type="text" ng-model="video.nombre"
                                        style="margin-right: 25px;">
                                    <label> URL </label>
                                    <input class="form-control" type="url" ng-model="video.url"
                                        style="margin-right: 25px;">
                                    <label> Categoría</label>
                                    <select class="form-control" ng-model="video.categoria"
                                        ng-options="categoria._id as categoria.nombre for categoria in categorias">
                                        <!-- <select ng-model="myColor" ng-options="color.name for color in colors"></select> -->
                                    </select>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" style="float:right;" value="Add">
                            <input type="reset" class="btn btn-primary" style="float:right;" value="Clear"
                                ng-model="limpiar">
                        </form>
                    </div>
                </div>

                <div class="panel panel-video">
                    <div class="panel-header">
                        <span> Select </span>
                        <span class="uid-span-header"> vID </span>
                        <span> Nombre </span>
                        <span class="correo-span-header"> Categoría </span>
                        <span> Opciones </span>
                    </div>
                    <div id="panel-body-videos" ng-repeat="v in videos track by $index">
                        <div class="fila fila-transparent">
                            <div class="checkbox-container">
                                <input type="checkbox" name="checkboxVideo" value="{{v._id}}" id="{{v_id}}">
                                <label for="{{v_id}}" class="checkbox">
                                    <div class="checkbox__inner">
                                        <div class="green__ball"></div>
                                    </div>
                                </label>
                            </div>
                            <span class="uid-span"> {{v._id}}</span>
                            <span class="nombre-span"> <a href="{{v.url}}" target="_blank"> {{v.nombre}}</a> </span>
                            <span class="categoria-span"> {{v.categoria.nombre}} </span>
                            <span class="opciones-span" style="font-size: 1.25em;">
                                <i type="button" data-toggle="modal" data-target="#myModal8" class="fa fa-pencil"></i>
                                <i type="button" data-toggle="modal" data-target="#myModal9"
                                    class="fa fa-eye view-icon"></i>
                                <i ng-click="borrarVideo()" type="button" class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>

                    <!-- //TODO: Cambiar ids y funciones asociadas para el borrado -->
                    <button class="btn btn-primary" id="boton-delete-all-videos" onclick="deleteAllVideos()">Delete All
                    </button>
                    <div class="panel-footer">

                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="paginationVideos">
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>


            <!-- ******************* MODALS ***************** -->
            <!-- MODALS DE USUARIO -->
            <div ng-controller="usuarios">
                <div class="modal fade-scale show active" id="myModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Update</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-5 col-sm-3 col-md-3 col-lg-4" src="img/actualizar.png">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form ng-submit="modificarUsuario()" class="form-update" name="formUpdate">
                                        <label> Nombre </label>
                                        <input ng-model="user.nombre" class="form-control" type="text" required>
                                        <label> UID </label>
                                        <input ng-model="user.uid" class="form-control" type="text" required>
                                        <label> Correo </label>
                                        <input ng-model="user.correo" class="form-control" type="email" required
                                            readonly>
                                        <input type="hidden" ng-model="user.uid" ng-value="user.uid">
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="button" id="closeButton" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                                <button type="button" id="saveChanges" ng-click="modificarUsuario()"
                                    class="btn btn-primary" data-dismiss="modal"> Save
                                    Changes </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Add User</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-4 col-sm-3 col-md-3 col-lg-4" src="img/add-user-icon.png">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor"
                                    style="justify-content: center;">
                                    <form class="form-add-modal" name="ModalAddUser" ng-submit="crearUsuario()"
                                        id="addUserModal" style="grid-template-columns: 25% 55%;">
                                        <label> Nombre </label>
                                        <input class="form-control" ng-model="user.nombre" type="text">
                                        <label> Correo </label>
                                        <input class="form-control" ng-model="user.correo" type="email">
                                        <label> Password</label>
                                        <input class="form-control" ng-model="user.password" type="password">
                                        <div class="modal-footer" style=" justify-content: center;">
                                            <button type="input" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="reset" class="btn btn-primary" value="Clear"
                                                ng-model="limpiar">
                                            <input type="submit" class="btn btn-primary" value="Add">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Show User</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form class="form-update" style="grid-template-columns: 25% 55%;">
                                        <label> Nombre </label>
                                        <span id="viewName"></span>
                                        <label> Correo </label>
                                        <span id="viewEmail"></span></span>
                                        <label> UID</label>
                                        <span id="viewUID"></span>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="input" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODALS DE CATEGORIAS  -->
            <div ng-controller="categorias">
                <div class="modal fade-scale show active" id="myModal4" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Update</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-5 col-sm-3 col-md-3 col-lg-4" src="img/actualizar.png">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form id="form-update-categoria" class="form-update" name="formUpdateCategoria"
                                        style="align-items:center;">
                                        <label> Nombre </label>
                                        <input ng-model="categoria.nombre" class="form-control" type="text" required>
                                        <label> ID </label>
                                        <input ng-model="categoria._id" class="form-control" type="text" required>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="button" id="closeButton" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                                <button type="button" ng-click="modificarCategoria()" class=" btn btn-primary"
                                    data-dismiss="modal"> Save Changes </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Show Category</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form class="form-update" style="grid-template-columns: 25% 55%;">
                                        <label> ID</label>
                                        <span id="viewIdCat">{{catID}}</span>
                                        <label> Nombre </label>
                                        <span id="viewNameCat">{{catNomb}}</span>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="input" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(98, 152, 223);">
                                <h4 class="modal-title" id="myModalLabel">Add Category</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 20px;"
                                    src="img/add-cat-icon.png">
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 update-contenedor"
                                    style="justify-content: center; align-items: center;">
                                    <form class="form-add-modal" name="ModalAddCategory" id="addCatModal"
                                        ng-submit="crearCategoria()" style="grid-template-columns: 25% 55%;">
                                        <label> Nombre </label>
                                        <input class="form-control" ng-model="categoria.nombre" type="text">
                                        <div class="modal-footer" style=" justify-content: center;">
                                            <button type="input" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="reset" class="btn btn-primary" value="Clear" ng-model="limpiar"
                                                style="background-color: rgb(98, 152, 223);">
                                            <input ng-click="crearCategoria()" type="submit" data-dismiss="modal"
                                                class="btn btn-primary" style="background-color: rgb(98, 152, 223);"
                                                value="Add">
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-controller="videos">
                <div class="modal fade-scale" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgb(98, 152, 223);">
                                <h4 class="modal-title" id="myModalLabel">Add Video</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 20px;"
                                    src="img/add-cat-icon.png">
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 update-contenedor"
                                    style="justify-content: center;">
                                    <form class="form-add-modal" name="ModalAddVideo" id="addVideoModal"
                                        ng-submit="crearVideo()" style="grid-template-columns: 25% 55%;">
                                        <label> Nombre </label>
                                        <input class="form-control" ng-model="video.nombre" type="text">
                                        <label> URL </label>
                                        <input class="form-control" ng-model="video.url" type="text">
                                        <label> Categoría </label>
                                        <select class=" form-control" ng-model="video.categoria"
                                            ng-options="categoria._id as categoria.nombre for categoria in categorias">
                                        </select>

                                        <div class="modal-footer" style=" justify-content: center;">
                                            <button type="input" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <input type="reset" class="btn btn-primary" value="Clear"
                                                ng-model="limpiar">
                                            <input type="submit" class="btn btn-primary" value="Add">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale show active" id="myModal8" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Update</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <img class=" col-5 col-sm-3 col-md-3 col-lg-4" src="img/actualizar.png">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form id="form-update-categoria" class="form-update" name="formUpdateCategoria"
                                        style="align-items:center;">
                                        <label> ID </label>
                                        <input ng-model="video._id" class="form-control" type="text" required>
                                        <label> Nombre </label>
                                        <input ng-model="video.nombre" class="form-control" type="text" required>
                                        <label> URL </label>
                                        <input class="form-control" type="url" ng-model="video.url"
                                            style="margin-right: 25px;">
                                        <label> Categoría</label>
                                        <select class="form-control" ng-model="video.categoria"
                                            ng-options="categoria._id as categoria.nombre for categoria in categorias">
                                            <!-- <select ng-model="myColor" ng-options="color.name for color in colors"></select> -->
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="button" id="closeButton" class="btn btn-default"
                                    data-dismiss="modal">Close</button>
                                <button type="button" ng-click="modificarVideo()" class="btn btn-primary"
                                    data-dismiss="modal">
                                    Save Changes </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade-scale" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Show Video</h4>
                            </div>
                            <div class="modal-body" style="padding: 30px;">
                                <div class="col-12 col-sm-9 col-md-9 col-lg-8 update-contenedor">
                                    <form class="form-update" style="grid-template-columns: 25% 55%;">
                                        <label> Nombre </label>
                                        <span id="viewNameVideo"></span>
                                        <label> URL </label>
                                        <span id="viewURLVideo"></span></span>
                                        <label> Categoría</label>
                                        <span id="viewCatVideo"></span>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer" style=" justify-content: center;">
                                <button type="input" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </main>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->



            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    <span style="text-align: center;font-weight: bold; font-size: 18px;">Front-end desarrollado
                        por:</span>
                <ul style="list-style: none;">
                    <li> Francisco Javier Muñoz Sánchez </li>
                    <li> Víctor Ruiz Amor</li>
                    <li> Jose Antonio García Gambín </li>
                </ul>
                </p>
            </section>
            <!-- Section: Text -->

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Trabajo Laboratorio de Ingeniería de Software </a>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>